/* information professionelle */
/* disposition des element */

#block{
flex-direction: row-reverse;
} 

/* recommandation partie 3 */
.date ul {
list-style-type: none;
}
.date  ul li:before {
content: "\2022";
float: left;
color:#efd807;
margin-left: -20%;
}

/* information personnelles */
/* dimention de la liseré  */
#liseré{
 padding: 0 ;    
}
/* coordonne */

.ul li{
 list-style-type: none;
} 
/* la personne parle de ses loisir */
.LOISIR{
 margin-top: 120%; 
}
#liseré .border { 

 border-radius: 50%;
 padding: 1.2em 1.2em 1.2em 1.2em;
 text-align: center;
}  
/* fin de la liseré  */