
/* information professionelle */
/* disposition des element */

#jsp{

    flex-direction: row-reverse;
} 
.tes{
    display: flex;
     justify-content: space-around;
}
.contenu{

    flex-direction: row-reverse;

}
/* element du titre principal h1 */

.contenu h1{
font-size: 50px;
}

.couleur{
color: #efd807 ;
}

.ligne{
border-bottom: 1px solid #efd807 ;
}

/* represente le trait sous les titre h2 */

.sous{
margin-bottom: 70px;
margin-top: 70px;	
width: 90%;
border-bottom: 1px solid #efd807 ;
}

/* police des titres h2 */

.contenu h2{
font-weight: bolder;
font-size: 20px;
}

/*recommandation partie 3 */

.flex{
	display: flex;
	justify-content: space-between;
    width: 70%;
    margin-bottom: 10%;    
}
ul {
    list-style-type: none;
   
  }
  ul li:before {
    content: "\2022";
    float: left;
    color:#efd807;
    margin-left: -10%;
  }

.paragraphe{
    font-family: sans-serif;
}
/* information personnelles */
/* dimention de la liseré  */
#liseré{
    background-color: #efd807;
    padding: 0 0 0 0;
}
   /* dimention de la photo de profile */
  
    .photo_de_profile{
          width: 128px ;
          height: 128px;
          border-radius: 50%;
          display: block;
          margin-left: auto;
          margin-right: auto;
          margin-top: 5%;
   }
      
          
  
  /* police couleur marche des titre */
h4{  
          
          font-size: 20px;
          margin-top: 20px;
          background-color:#7F7F7F;
          text-align: center;
          color : #efd807 ;
  } 
  /* coordonne */
    .ul li{
       list-style-type: none;
       margin-left: 10%;
   } 
   /* la personne par d'elle meme */
  .para{
          padding-bottom: 150%;
          margin-left: 10%;
          margin-right: 10%;
          text-align: justify;
      }
   
 .p{
          width:300px; 
          bottom: 128px;
}
  /* la personne parle de ses loisir */
.LOISIR{
    margin-top: 210%;
}
      
   .image{
          display: flex;
          justify-content: space-around; 
      } 
 .rond { 
    border: black solid 1px;
       padding-left:4% ;
       padding-right:4% ;
       border-radius: 50%;
      } 
  /* fin de la liseré  */